In [1]:
#Arithmatic Operators
a = 5
b = 10

In [2]:
a + b

15

In [3]:
a - b

-5

In [4]:
a * b

50

In [5]:
a / b

0.5

In [6]:
a ** b

9765625

In [7]:
a // b

0

In [8]:
a % b

5

In [9]:
# Assignment Operators

In [10]:
a += 5 # a = a + 5

In [11]:
a

10

In [12]:
a *= 5 # Now a value is 10

In [13]:
a

50

In [14]:
c = 5

In [15]:
c **= 5

In [16]:
c

3125

In [19]:
# Comparrision

In [20]:
a = 6
b = 6

In [22]:
com = a == b

In [23]:
com

True

In [24]:
a <= b

True

In [25]:
a < b

False

In [30]:
com = a <= b
com

True

In [26]:
# Conditional Oper

In [32]:
if a == b:
    print("equal")
elif a > b:
    print("Greater")
else:
    print("smaller")

equal

In [33]:
# Logical Operators
# AND
# OR
# NOT

In [34]:
m = 5
n = 7
not(m < 7)

False

In [35]:
rt = (m + n == n + m and 10 + 2 == 2 + 10)
rt

True

In [36]:
rt = (m + n == n + m and 10 + 2 == 2 + 11)
rt

False

In [37]:
rt = (m + n == n + m or 10 + 2 == 2 + 1)
rt

True

In [39]:
# Identity Opreator
# is
# is not

In [51]:
x = item1
x is item1

True

In [52]:
item1 = [10,11,12,13]
item2 = [10,11,12,13]
item1 is item2

False

In [41]:
# Even Though we have same name of the values and also same number values two items are different

In [54]:
item1 is not item2

True

In [46]:
# both items are different even though twos are same in any conditions

In [47]:
# Membership Operators
# in
# not in
# It's works based on Member of the particular list or container and so on

In [55]:
item1 in item2

False

In [56]:
11 in item2

True

In [58]:
'banana' in item1

False

In [59]:
10 not in item1

False

In [60]:
10 in item1

True

In [63]:
'Apple' not in item1

True

In [64]:
# Bitwise Operators || it's based binary number and other number systemz

In [1]:
10 & 12

8

In [2]:
# Here 10 is represented by the it's binary digit 10 = 1010 and 12 = 1100, 
# If both number is one it gives one 
# if anyone is 0 it's gives 0
# 1010 - 10
# 1100 - 12
# 1000 - 8 so the answer is 8

In [3]:
10 | 12

14

In [4]:
# | it's a OR Operator
# 1010 - 10
# 1100 - 12
# 1111 - 14

In [5]:
10 >> 2

2

In [6]:
# 10 - 1010 Shfit the two digits from the right side.

In [7]:
10 >> 3

1

In [8]:
# 10 - 1010 Shfit the three digits from the right side.

In [10]:
10 << 2

40