In [1]:
import array as arr

In [2]:
x = 9j

In [3]:
type(x)

complex

In [4]:
c = "hello"
b = "world"
z = input()
print("there is values", c,b,z)

jose
there is values hello world jose

In [5]:
b.upper()

'WORLD'

In [6]:
c[-1]

'o'

In [7]:
fruits = [2,"apple","water melon",3,"45"]

In [8]:
fruits[-2]

3

In [9]:
fruits.insert(2,"mango")

In [10]:
fruits

[2, 'apple', 'mango', 'water melon', 3, '45']

In [11]:
fruits.append("kiwi")

In [12]:
fruits

[2, 'apple', 'mango', 'water melon', 3, '45', 'kiwi']

In [13]:
fruits[1] = "make"

In [14]:
fruits

[2, 'make', 'mango', 'water melon', 3, '45', 'kiwi']

In [15]:
fruits[0] = 666

In [16]:
fruits

[666, 'make', 'mango', 'water melon', 3, '45', 'kiwi']

In [17]:
fruits.pop()

'kiwi'

In [18]:
fruits

[666, 'make', 'mango', 'water melon', 3, '45']

In [19]:
fruits.reverse()

In [20]:
fruits

['45', 3, 'water melon', 'mango', 'make', 666]

In [21]:
fruits.remove('45')

In [22]:
fruits

[3, 'water melon', 'mango', 'make', 666]

In [23]:
courses = {1:"edureka",2:"udacity",3:"udemy",4:"code acadamy",'google':"IBM"}
courses

{1: 'edureka', 2: 'udacity', 3: 'udemy', 4: 'code acadamy', 'google': 'IBM'}

In [24]:
courses[1]

'edureka'

In [25]:
courses['google']

'IBM'

In [26]:
courses[1] = 'intellpaat'

In [27]:
courses

{1: 'intellpaat', 2: 'udacity', 3: 'udemy', 4: 'code acadamy', 'google': 'IBM'}

In [28]:
courses['op'] = "56"

In [29]:
courses

{1: 'intellpaat',
 2: 'udacity',
 3: 'udemy',
 4: 'code acadamy',
 'google': 'IBM',
 'op': '56'}

In [30]:
animals = (2,'googlr')

In [31]:
len(animals)

2

In [32]:
animals.count('googlr')

1

In [33]:
gta = (2,4,2,5,"edureka","simpli learn","edureka")

In [34]:
gta

(2, 4, 2, 5, 'edureka', 'simpli learn', 'edureka')

In [35]:
myset = {2,2,"edureka","Machine Learning","Deep Learning","Machine Learning"}

In [36]:
myset

{2, 'Deep Learning', 'Machine Learning', 'edureka'}

In [37]:
c = "edureka"
b = str(10)
d = c + b

In [38]:
d

'edureka10'

In [39]:
from collections import namedtuple

In [40]:
# Here is a namedtuple model
a = namedtuple('zip','name, tech')
s = a('data science','python')
print(s)

zip(name='data science', tech='python')

In [41]:
a = namedtuple('zip','name, tech')
s = a._make(['data science','python'])
print(s)

zip(name='data science', tech='python')

In [42]:
from collections import deque

In [43]:
# Here we have Deque is one of the python collections
a = ['T','E','S','L','A']
b = deque(a)
print(b)

deque(['T', 'E', 'S', 'L', 'A'])

In [44]:
b.append('AI')
print(b)

deque(['T', 'E', 'S', 'L', 'A', 'AI'])

In [45]:
b.appendleft('ML')
print(b)

deque(['ML', 'T', 'E', 'S', 'L', 'A', 'AI'])

In [46]:
from collections import ChainMap

In [47]:
# ChainMap
a = {1:'AI',2:'DL',3:'ML'}
b = {4:'DS',5:'CV',6:'NLP'}
all = ChainMap(a,b)
print(all)

ChainMap({1: 'AI', 2: 'DL', 3: 'ML'}, {4: 'DS', 5: 'CV', 6: 'NLP'})

In [48]:
from collections import Counter

In [54]:
# Counter
AI = [2,2,5,6,4,2,6,8,1,4,3,1,7,9,2,2,0]
count = Counter(AI)
print(count)

Counter({2: 5, 6: 2, 4: 2, 1: 2, 5: 1, 8: 1, 3: 1, 7: 1, 9: 1, 0: 1})

In [55]:
# Types of Counter Operations
print(list(count.elements()))

[2, 2, 2, 2, 2, 5, 6, 6, 4, 4, 8, 1, 1, 3, 7, 9, 0]

In [56]:
print(count.most_common())

[(2, 5), (6, 2), (4, 2), (1, 2), (5, 1), (8, 1), (3, 1), (7, 1), (9, 1), (0, 1)]

In [57]:
sub = {2:2,4:1}

In [59]:
print(count.subtract(sub))

None

In [60]:
print(count.most_common())

[(2, 3), (6, 2), (1, 2), (5, 1), (4, 1), (8, 1), (3, 1), (7, 1), (9, 1), (0, 1)]

In [ ]:
#Oerder Dictonary

In [61]:
from collections import OrderedDict

In [62]:
Name = OrderedDict()
Name[0] = "N"
Name[1] = "I"
Name[2] = "V"
Name[3] = "I"
Name[4] = "T"
Name[5] = "U"
Name[6] = "S"

print(Name)

OrderedDict([(0, 'N'), (1, 'I'), (2, 'V'), (3, 'I'), (4, 'T'), (5, 'U'), (6, 'S')])

In [63]:
print(Name.keys())

odict_keys([0, 1, 2, 3, 4, 5, 6])

In [64]:
print(Name.update())

None

In [ ]:
# defaultdict

In [65]:
from collections import defaultdict

In [66]:
name = defaultdict(float)

name[1] = "Hello"
name[2] = "world"

print(name)

defaultdict(<class 'float'>, {1: 'Hello', 2: 'world'})

In [69]:
print(name[4])

0.0

In [ ]:
# there is no error will be shown when we use default func()